h1 {text-align: center;color: orange; border: 5px grey groove; }
.merah {color: red}
.ungu {color: purple}
.tengah {text-align: center;}
body {background-color: pink}
.margins {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}